{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Film page</title>
{% endblock %}
{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="{% url 'index' %}">Home</a>
                    <span>Movie Review</span>
                </div>

                <div class="filters">
                    <select name="#" id="#" placeholder="Choose Category">
                        <option value="#">All</option>
                        {% for genre in genres %}
                            <option value="#"><a href="">{{ genre.name }}</a></option>
                        {% endfor %}
                    </select>
                    <select name="#" id="#">
                        <option value="#">2012</option>
                        <option value="#">2013</option>
                        <option value="#">2014</option>
                    </select>
                </div>
                <div class="movie-list">
                    {% for film in films %}
                        <div class="movie">
                            <figure style="height: 350px" class="movie-poster"><img src="{{ film.main_photo.url }}"
                                                                                    alt="#"></figure>
                            <div class="movie-title"><a href="#">{{ film.name }}</a></div>
                            <p>{{ film.descritpion }}</p>
                        </div>
                    {% endfor %}
                </div> <!-- .movie-list -->
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-number prev"><i
                                class="fa fa-angle-left"></i></a>
                    {% endif %}
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="page-number next"><i
                                class="fa fa-angle-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div> <!-- .container -->
    </main>
{% endblock %}