{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    {% block title %}
        <title>Title</title>
    {% endblock %}
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}

    {% endblock %}
    <style>

        body {
            background-color: #131a20;
            background-image: url(../static/images/background.jpg);
            background-position: top center;
            background-repeat: no-repeat;
            color: #84878d;
            font-family: "Roboto", "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
        }
    </style>
</head>
<body>
<div id="site-content">
    <header class="site-header">
        <div class="container">
            <a href="#" id="branding">
                <img src="{% static 'images/logo.png' %}" alt="" class="logo">
                <div class="logo-copy">
                    <h1 class="site-title">MaxFilm</h1>
                    <small class="site-description">Best of the best</small>
                </div>
            </a> <!-- #branding -->

            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    {% url 'index' as url_index %}
                    <li {% if request.path == url_index %}
                        class="menu-item current-menu-item"
                    {% else %}
                        class="menu-item"
                    {% endif %} ><a href="{% url 'index' %}">Home</a></li>
                    <li class="menu-item"><a href="#">About</a></li>
                    {% url 'films_page' as url_films_page %}
                    <li {% if request.path == url_films_page %}
                        class="menu-item current-menu-item"
                    {% else %} class="menu-item">{% endif %}<a href="{% url 'films_page' %}">Movie
                        reviews</a></li>
                    <li class="menu-item"><a href="#">Join us</a></li>
                    <li class="menu-item"><a href="#">Contact</a></li>
                </ul> <!-- .menu -->
                <form action="#" class="search-form">
                    <input type="text" placeholder="Search...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia
                            nesciunt
                            saepe cupiditate</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Recent Review</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Help Center</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Join Us</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Social Media</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Newsletter</h3>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email Address">
                        </form>
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
        </div> <!-- .container -->
    </footer>
</div>
</body>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/ie-support/html5.js' %}"></script>
<script src="{% static 'js/ie-support/respond.js' %}"></script>
</html>